:root {
  --font-stack: Comic Sans MS, Comic Sans, cursive;

  --lineHeight: 3rem;
  --appMaxWidth: 1300px;
  --topicsMaxWidth: 1000px;
  --topicMetaMinWidth: 300px;

  --spacing-small: 1rem;
  --spacing-medium: 3rem;

  --fs-1: 1rem;
  --fs-2: 2rem;
  --fs-3: 3rem;
  --fs-4: 3.5rem;
  --fs-5: 4rem;
  --fs-6: 4.5rem;

  --color-grey: #595959;
  --color-green: green;
  --color-red: red;
}
